<div id="play">
    <button *ngIf="!playing" (click) = "playing = true; start();">JOUER</button>
</div>
<figure [style.height.px] = "90">
    <img #coin [style.height.px] = "coinHeight"  src="" style="display:none;">
</figure>
<div id="actions" *ngIf="playing">
    <div>
        <button (click) = "addDistraction()">Distraction</button>
    </div>
    <div>
        <button (click) = "showMotivation()">Boost</button>
    </div>
    <div>
        <button (click) = "addDistraction()">Distraction</button>
    </div>
</div>
